.tabs {
  display: flex;
}
.tab {
  justify-content: center;
  align-items: center;
  width: 100%;
  background: lightsteelblue;
  padding: 1em 0;
  border: none;
}

.tab.active {
  background: steelblue;
  font-weight: bold;
}
.panel {
  display: none;
  background-color: #eeeeee;
  padding: 10px;
}
.panel.active {
  display: block;
}
